<!--
  Generated template for the AuditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar ng-controller="MyCtrl">
    <button ion-button color="dark" (click)="openpage('ProfilePage')" class="button-arrow-back">
      <ion-icon name="arrow-back" class="icon-Lancer-audit" ></ion-icon>
    </button>
    <ion-title >AUDITS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="border: 1px black">
    <h3>Tâche :</h3>
    <button ion-button outline (click)="takePicture()" class="TP"><ion-icon name="camera"></ion-icon></button>
    <p align="center" style="background: lightgray; min-height: 150px" padding><img src="{{ myPhoto }}"></p>
  </div>
  <div>
    <h3>Description :</h3>
    <!--<button ion-button (click)="recordingAudio()">Enregistrer</button>
    <button ion-button (click)="playAudio(audio.filename)">Stop</button>-->
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <button ion-button primary (click)="stopRecord()" *ngIf="recording"><ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</button>
          <button ion-button primary (click)="startRecord()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</button>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item *ngFor="let audio of audioList; index as i;">
        <p>{{audio.filename}}</p>
        <button ion-button clear item-end large (click)="playAudio(audio.filename, i)"><ion-icon name="play"></ion-icon></button>
      </ion-item>
    </ion-list>
  </div>
  <div>
      <p>Localisation</p>
    <button ion-button (click)="ionViewDidLoad()">Géolocalisation</button>
    <p>Lattitude: {{ lat }}</p>
    <p>Longitude: {{ lng }}</p>
  </div>
</ion-content>
