.background {
  background: linear-gradient(160deg, #faa548 30%, #e34f68 70%);
}

.logo_principale {
  background: transparent !important;
  margin-top: 10%;
}

.inputs {
  position: absolute;
  display: block;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  opacity: 0,1;
}

ion-item {
  background: transparent !important;
  background: #fff;
  text-align: center !important;
  color: #fff !important;
  margin-bottom: 20px !important;

    ion-label {
      font-size: 17px !important;
    }
    ion-input {
      background: #fff;
      color: #000;
      border-radius: 5px;
      box-shadow: 12px 12px 30px  #000 !important;
    }
}

a {
  text-decoration: none;
  color: #fff;
}

.button_accueil {
  background-color: #ffb400;
  color: #fff;
  margin-top: 50px;
}

.Home {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
